{% extends 'base.html.twig' %}



{% block body %}

<h1>Bienvenue dans ce blog !</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut consectetur, eaque eligendi, est iste iusto
    laboriosam libero maiores numquam officiis omnis possimus quisquam repudiandae sapiente. Aperiam at culpa dolores
    ipsa natus nemo reprehenderit sequi sit veritatis voluptatibus. Illum, itaque!</p>


<p>At aut, autem dicta dolorem eum
    facere magnam magni, modi natus necessitatibus pariatur quia saepe voluptates? Aliquam, dignissimos facere illum
    laboriosam magnam nulla perspiciatis quae quasi sunt voluptatem. Beatae consequatur dolore eius explicabo non
    possimus provident quaerat quidem soluta, tenetur?</p>



{% endblock  %}

